body{
    background-color: #2a3f85;
}


.header{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(226, 55, 55);
    text-emphasis-color: rgba(182, 56, 56, 0.533);
}
.container{
    font-size: 99px;
    box-sizing: border-box;
}
h6{
    display: flex;
    justify-content: center;
    text-align: center;

    background-color: rgb(240, 142, 30);
    font-size: 144px;
}